<nav class="navbar fixed-top navbar-light bg-faded">
<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="../../assets/img/logo.jpg" style="width:50px; height:50px">    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <!--<li><a [routerLink]="['/']">Home</a></li>-->
        
        <li><a *ngIf="(af.auth | async)" [routerLink]="['/listings']">GAMES</a></li>
        <li><a *ngIf="!(af.auth | async)" [routerLink]="['/listings']">GAMES</a></li>
        <li><a *ngIf="(af.auth | async)" [routerLink]="['/add-listing']">Adding a new Game</a></li>
        <li><a *ngIf="(af.auth | async)" [routerLink]="['/lfgroup']">Add a request for game</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

        <li><a *ngIf="(af.auth | async)" [routerLink]="['/profile']">Create a profile</a></li>
        <li><a *ngIf="!(af.auth | async)" [routerLink]="['/home']">Login</a></li>
        <li *ngIf="(af.auth | async)" style="color:white; margin-top: 7px;padding-right: 40px; font-size: 22px;;">{{ name.auth.displayName}}</li>
        <li *ngIf="(af.auth | async)"> <img style="border-radius: 62px; height: 56px;" src="{{name.auth.photoURL}}"></li>
        <li><a *ngIf="(af.auth | async)" (click)="logout()">Logout</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
</nav>