
<div class="row">
  <div class="col-xs-12">
    <form class="well">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search Game by Name .................." [(ngModel)]="search" name="search" (keyup)="searchProps()">
      </div>
    </form>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let listing of listings">
        <a [routerLink]="['/listing/'+listing.$key]"><button type="button" class="btn btn-primary btn-block">{{listing.title}}</button><img style="width: 1000px; height: 500px; margin-left: 100px; margin-top: 50px" src="../../assets/img/{{listing.title}}.jpg"></a>
      </li>
    </ul>
  </div>
  <div class="col-xs-12" *ngIf="count === 0">Not properties found.</div>
</div>
